{
	"env": {
		"node": true,
		"commonjs": true,
		"browser": true,
		"es6": true,
		"mocha": true
	},
	"extends": ["prettier"],
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"semi": ["error", "always"],
		"no-console": 0,
		"no-constant-condition": 0,
		"no-empty": 0,
		"prettier/prettier": ["error"]
	}
}
